/* You can add custom styles here. */

// @import "plugins/numbered";
@media print {
    .github-corner, aside {
        display:none
    }
}
@-webkit-keyframes octocat-wave {
    0%, to {
        transform:rotate(0)
    }
    20%, 60% {
        transform:rotate(-25deg)
    }
    40%, 80% {
        transform:rotate(10deg)
    }
}
@keyframes octocat-wave {
    0%, to {
        transform:rotate(0)
    }
    20%, 60% {
        transform:rotate(-25deg)
    }
    40%, 80% {
        transform:rotate(10deg)
    }
}

.github-corner {
    border-bottom:0;
    position:fixed;
    right:0;
    text-decoration:none;
    top:0;
    z-index:1;
    transition: transform 250ms ease-out
}
.github-corner svg {
    color:#fff;
    fill:var(--theme-color, #42b983);
    height:80px;
    width:80px
}

.github-corner:hover .octo-arm {
    -webkit-animation:octocat-wave 560ms ease-in-out;
    animation:octocat-wave 560ms ease-in-out
}

.book-menu nav{
    border-right: 1px solid rgba(0,0,0,.07);
}
.book-menu nav::-webkit-scrollbar {
    width:4px;
}
.book-menu nav::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius:4px;
}
.book-menu nav:hover::-webkit-scrollbar-thumb {
    background:hsla(0, 0%, 53.3%, .4)
}
.book-menu nav:hover::-webkit-scrollbar-track {
    background:hsla(0, 0%, 53.3%, .1)
}
